gpujpeg
.cache
.clang-tidy
.envrc
.libs
src/*.o
src/*.lo
*.rgb
*.vim
/build*
build_hipcc
configure
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
compile_flags.txt
config.guess
config.log
config.status
config.sub
cscope.out
depcomp
/examples/build*
/doc/
install-sh
libgpujpeg.pc
libtool
/local/
ltmain.sh
m4/
missing
src/.deps/
src/.dirstamp
stamp-h1
libgpujpeg.la
tags
test-driver
test/test_sycl

# VS
*.pdb
*.sdf
*.suo
*.user
Debug
Release

test/test_sycl.exe
